
.divContainer{
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;

}

h2{
    font-size: 4rem;
    color: blueviolet;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: hsl(188, 76%, 53%);

}


button:hover{
    background-color: hsl(204, 90%, 12%);
}
